* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Chillax-Semibold";
  src: url("../fonts/Chillax-Semibold.woff2") format("woff2"),
    url("../fonts/Chillax-Semibold.woff") format("woff"),
    url("../fonts/Chillax-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Synonym-Regular";
  src: url("../fonts/Synonym-Regular.woff2") format("woff2"),
    url("../fonts/Synonym-Regular.woff") format("woff"),
    url("../fonts/Synonym-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
button {
  font-family: "Chillax-Semibold";
}

p,
a,
li {
  font-family: "Synonym-Regular";
}

ul,
ol,
li {
  list-style: none;
}

/* NAVBAR */

.nav {
  padding: 12px 50px;
  width: 100%;
  position: fixed;
  top: 0px;
  background-color: #f5f5f5;
  z-index: 1;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 18px;
  color: #fff;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
}

.nav > .nav-links > a {
  font-size: 16px;
  display: inline-block;
  padding: 20px 10px 13px 10px;
  text-decoration: none;
  color: #3b3b3b;
  font-family: "Chillax-Semibold";
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 768px) {
  .nav {
    padding: 15px 40px;
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: #f5f5f5;
  }

  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 15px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
  }

  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #ff8400;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #ebebeb;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 80px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(40vh - 50px);
    overflow-y: auto;
  }
}

/* END NAVBAR */

.welcome-page {
  width: 100%;
  background: linear-gradient(-45deg, #ff9900, #ffac30, #ffcb7d, #f5f5f5);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 100px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.welcome-page > .welcome-page__content {
  font-size: 1.5vw;
  padding: 40px 40px 20px 20px;
  height: 70%;
  width: 80%;
}

.welcome-page > .welcome-page__content button {
  width: 220px;
  padding: 10px;
  background-color: #0c1218;
  border: 0;
  color: #f5f5f5;
  border-radius: 30px;
  font-size: 16px;
}

.welcome-page > .welcome-page__content button:hover {
  width: 220px;
  padding: 10px;
  background-color: #383838;
  border: 0;
  color: #f5f5f5;
  border-radius: 30px;
  font-size: 16px;
}

.welcome-page > .welcome-page__img img {
  width: 35vw;
}

@media (max-width: 950px) {
  .welcome-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 20px;
  }

  .welcome-page > .welcome-page__content {
    padding: 10px 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .welcome-page > .welcome-page__content button {
    padding: 6px;
    margin-top: 20px;
    background-color: #0c1218;
    border: 0;
    color: #f5f5f5;
    border-radius: 30px;
    font-size: 14px;
  }

  .welcome-page__content > h1 {
    font-size: 24px;
    margin-top: 50px;
  }

  .welcome-page__content > p {
    font-size: 14px;
  }

  .welcome-page > .welcome-page__img img {
    width: 65vw;
  }
}

/* END WELCOME */

/* CARDS */
.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.cards_header {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  padding: 100px 150px;
}

.cards_menu {
  padding: 50px;
  display: flex;
  gap: 40px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}
.card {
  width: 300px;
  height: 550px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.card > img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.card__content > button {
  width: 200px;
  padding: 10px;
  background-color: #0c1218;
  border: 0;
  color: #f5f5f5;
  border-radius: 30px;
  font-size: 16px;
}

.card__content > button > a {
  font-family: "Chillax-Semibold";
  text-decoration: none;
  color: #f5f5f5;
}

.card__content > ul {
  list-style: none;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
}

@media (max-width: 950px) {
  .cards {
    padding: 0px;
    gap: 50px;
  }

  .cards_header {
    padding: 20px;
  }
  .cards_menu {
    gap: 50px;
    flex-direction: column;
  }
}

.talep {
  background-color: rgb(227, 227, 227);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0px;
}

.talep img {
  width: 50vw;
}

@media (max-width: 950px) {
  .talep img {
    width: 90vw;
  }
}

.dr_kutu {
  background-color: rgb(255, 255, 255);
  padding: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.kutu_foto img {
  width: 50vw;
}

.ep-flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 950px) {
  .dr_kutu {
    text-align: center;
    padding: 50px;
    gap: 50px;
    flex-direction: column;
  }

  .ep-flexbox img {
    width: 95vw;
  }

  .dr_kutu img {
    width: 80vw;
  }
}

/* END CARDS */

.musterilerimiz {
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 950px) {
  .musterilerimiz img {
    height: 70px;
  }
}

#iletisim {
  background-color: #f5f5f5;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#iletisim-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

#iletisim-inputs > input,
textarea {
  width: 75vw;
  padding: 10px;
  border: 0;
  border-radius: 10px;
  font-size: 14px;
  font-family: "Synonym-Regular";
}

#iletisim-inputs > button {
  width: 100px;
  background-color: #ff8400;
  padding: 10px;
  border: 0;
  border-radius: 10px;
  font-size: 18px;
}

.adres {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 50px;
}

@media (max-width: 950px) {
  .adres {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
  }

  .adres > h2 {
    font-size: 16px;
    text-align: center;
  }
}

.pdf {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.footer {
  text-decoration: none;
  background-color: #e7e7e7;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 150px;
}

@media (max-width: 950px) {
  .footer {
    flex-direction: column;
    gap: 50px;
  }
}

.footer a {
  text-decoration: none;
  color: black;
}
